/* open sans*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;800&display=swap');

/*poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

body{
    padding:0;
    margin:0;
}

.navbar{
    display: flex;
    align-items: center ;
    padding-top: 20px;
    margin:0;
    max-width: 1920px;
    width:100%;
    justify-content: space-between;
    align-items: center;
    background-color: #141416;
}
.brand{
    padding-top: 20px;
    padding-left:40px;
}

.topnav{
    display: flex;
    list-style: none;
    margin:0;
    padding-right:40px;
    padding-top:20px;
}

.topnav .nav-link{
    text-decoration: none;
    padding-left: 20px;
    padding-right:20px;
    margin-right: 50px;
    color:white;
    font-family:'Open Sans';
    font-size: 15px;
}
.preorder{
    border:1px solid white;
    border-radius: 5px;
}

/* jt container */
.jt-container {
	height:450px; 
    max-width: 1920px;
    width: 100%;
    position: relative;
    text-align: center;
    background-color:#141416;
    color:white;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:-5px;
  }

.jt-container h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 50px;
    margin-bottom: 10px;
}

.jt-container p{
    font-family: 'open sans', sans-serif;
    font-weight:300;
    font-size:20px;
    max-width: 1000px;
    margin-top:10px;
}
.jt-button{
    font-family: 'Poppins', sans-serif;
    font-weight:300;
    font-size:20px;
    border-style: solid;
    border-color: #FD6262;
    border-radius: 30px;
    background-color: #141416;
    padding:10px 20px 10px 20px;
    color:#FD6262;
    margin-top: 15px;
}

/* produc features */
.feature-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #141416;
    color:white;
    padding-top:0;
    padding-bottom: 200px;
    margin-top:-5px;
    width: 1920px;
    width:100%;
}
.feature-1, .feature-2{
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}
.feature-1-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:1px transparent #3e4348;
    width: 500px;
    height: 500px;
    padding:20px;
    font-family:'poppins';
    background-image: url('img/reddots.png');
    background-position: center;
    box-shadow:inset 0px 0px 20px 20px #141416;
}

.feature-1-img-header{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    max-width: 400px;
}

.feature-1-quote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border:1px transparent #3e4348;
    width: 400px;
    height: 500px;
    padding:20px 60px 20px 60px;
    font-family:'poppins';
}

.feature-1-quote-1, .feature-1-quote-2,.feature-1-quote-3,.feature-1-quote-4{
    font-family: 'Poppins', sans-serif;
    font-weight:300;
    font-size:18px;
    max-width: 400px;
}

.feature-2-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border:1px transparent #3e4348;
    width: 500px;
    height: 500px;
    padding:20px;
    font-family:'poppins';
    order:2;
    background-image: url(img/bluedots.jpeg);
    background-position: center;
    box-shadow:inset 0px 0px 20px 20px #141416;
}
.feature-2-img-header{
    font-size: 30px;
    font-weight: 700;
}
.feature-2-img-p{
    font-family: 'Poppins', sans-serif;
    font-weight:300;
    font-size:18px;
}
.feature-2-bubbles{
    border:1px transparent #3e4348;
    width: 500px;
    height: 500px;
    padding:20px;
    font-family:'poppins';
    align-items: center;
    order:1;
    display: flex;
    justify-content: space-around;
}
.feature-2-bb12{
    display:flex;
    flex-direction: column;
    gap:30px;
}
.feature-2-bb1,.feature-2-bb2,.feature-2-bb3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 220px;
    border: 1px solid #3e4348;
    background-color: #1a1c1e;
    border-radius: 10px;
    position: relative;
}

.feature-2-bb1 p,.feature-2-bb2 p,.feature-2-bb3 p{
    padding:15px;
    color:lightslategray;
    margin:0;
    font-size: 12px;
}
.feature-2-bb1 .bb1-header,.feature-2-bb2 .bb2-header,.feature-2-bb3 .bb3-header{
    color:#899cea;
    font-style: italic;
    font-size:18px;
}
/* end of product features*/


/**** start of pd pics ***/
.pd-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -200px;
    padding-bottom: 100px;
    background-color: #141416;
    color:white;
    max-width: 1920px;
    width:100%;
}
.pd1{
    display: flex;
    justify-content: center;
}
.pd2, .pd3{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.pd2-text,.pd3-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 250px;
}
.pd2-header,.pd3-header{
    font-size: 30px;
    font-weight:700;
    font-family: 'poppins', sans-serif;
    font-weight: 700 ;
}
.pd2-p,.pd3-p{
    font-family: 'Poppins', sans-serif;
    font-weight:300;
    font-size:18px;
}

.pd3-text{
    order:2;
}
.pd3-img{
    order:1;
}
/**** end of pd pics ***/


  
/* team section */
.team-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #141416;
    font-family: 'poppins';
    padding-bottom: 100px;
    padding-top:20px;
    width: 1920px;
    width:100%;
    margin-top:-10px;
}
.team-h1{
    display: flex;
    justify-content: center;
    color:white;
    font-family: 'poppins';
    font-weight: 700;

}
.team-roster{
    display: flex;
    justify-content: space-around;
    color:white;
    text-align: center;
}

.KTphoto,.HOphoto,.JZphoto{
    border-radius: 50%;
    padding-top: 50px;
    padding-bottom: 50px;
}

/* footer start */
.footer{
    background-color: #141416;
    padding-top: 20px;
    padding-bottom:50px;
    width: 1920px;
    width:100%;
    margin-top: -10px;
}
.footer-logo{
    display: flex;
    justify-content: center;
}
.footer-h1{
    display: flex;
    justify-content: center;
    font-family: 'open sans';
    font-size: 10px;
    color:white;
}